<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages pageBaseType="System.Web.WebPages.WebPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.WebPages.Html" />
        <add namespace="WebMatrix.Data" />
      </namespaces>
    </pages>
  </system.web>
</configuration>